<footer
  class="opacity-75 flex flex-col md:flex-row justify-around items-center py-8 gap-2 text-gray-700 dark:text-gray-300"
>
  <div>
    <span>
      <span>©</span>
      <a class="hover:underline" href="/">prietdev</a>. <span
        >Casi todos los derechos reservados.</span
      >
    </span>
  </div>
  <div>
    <a class="hover:underline" href="mailto:priet.dev@gmail.com">Contactame</a>
  </div>
</footer>
