---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Error 404">
    <!-- TODO: fix the error style color and fix error bold -->
    <h2 class="text-red-500 text-center font-extrabold">Error 404 ha ocurrido.</h2>
    <p>Por favor, intentelo de nuevo o espere.</p>
</MainLayout>