---
import MainLayout from "../layouts/MainLayout.astro";
import AboutHero from "../components/AboutHero.astro";
---

<MainLayout title="Página Principal">
  <section class="flex items-center justify-center flex-rows">
    <AboutHero />
  </section>
</MainLayout>
