<div class="h-max w-auto">
    <!-- TODO: Finish the style -->
    <h1 class="md:text-3xl lg:text-5xl text-center font-bold">Hey, soy 
        <span class="tracking-tighter gap-0">
            <span>priet</span><span class="text-skyBlue">dev</span>
        </span>
    </h1>
    <p class="tracking-wide">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore et ea molestias doloremque voluptas porro nesciunt expedita iste ipsum, esse reprehenderit voluptatibus provident quis temporibus vitae ipsam amet similique possimus?
    </p>
</div>
