---
import LogoPriet from "./LogoPriet.astro"
---

<div class="h-max w-auto">
    <!-- TODO: Finish the style -->
    <h1 class="md:text-3xl lg:text-5xl text-center font-bold">Hey, soy <LogoPriet /></h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore et ea molestias doloremque voluptas porro nesciunt expedita iste ipsum, esse reprehenderit voluptatibus provident quis temporibus vitae ipsam amet similique possimus?
    </p>
</div>
