<div class="h-max w-auto md:px-32 lg:px-64">
  <!-- TODO: Finish the style -->
  <h1 class="md:text-3xl lg:text-6xl text-center font-extrabold">
    Hey, soy
    <span>
      <span>priet</span><span class="text-skyBlue">dev</span>
    </span>
  </h1>
  <p class="tracking-wide md:text-lg lg:text-xl font-bold pt-4">
    <strong>Estudiante de Bachillerato Técnico en Informática</strong> (BTI) con especialización completa en el uso de herraminetas de Office, programación web y diseño digital. Apasionado por la informática y el aprendizaje constante, con interés en el desarrollo de software como de hardware. Deseo convertirme en ingeniero en sistema y líder dentro de una empresa tecnológica, gestionando proyectos y formar trabajos de forma eficiente.
  </p>
</div>
