---
import LogoPriet from "./LogoPriet.astro";
---

<header class="z-50 top-0 flex justify-between items-center px-8 py-4">
    <div class="text-3xl transition-transform duration-200 hover:scale-110">
        <a href="/">
            <LogoPriet />
        </a>
    </div>
    <div>
        seach navegation
    </div>
    <div>
        red social
    </div>
</header>