---
import LogoPriet from "./LogoPriet.astro";
import SearchNav from "./SearchNav.astro";
---

<!-- TODO: add svg and fix the position set -->
<header class="shadow-lg z-50 top-0 flex justify-between items-center px-8 py-4 bg-black/10">
    <div class="text-3xl transition-transform duration-200 hover:scale-110">
        <a href="/">
            <LogoPriet />
        </a>
    </div>
    <div>
        <SearchNav />
    </div>
    <div>
        red social
    </div>
</header>