<span class="text-skyBlue">Sky Blue</span>
<span class="text-deepNavy">Deep Navy</span>
<span class="text-oceanTeal">Ocean Teal</span>
<span class="text-coralSunset">Coral Sunset</span>
<span class="text-softClound">Soft Clound</span>
<span class="text-stealGray">Steal Gray</span>
<span class="text-charcoalBlack">Charcoal Black</span>
<span class="text-pureWhite">Pure White</span>