---
import "../styles/global.css"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

import { defaultTitle } from "../const/defaultTitle"
import { defaultDescription, messageErrorDescription } from "../const/defaultDescription"

interface Props {
    title?: string
    description?: string
}

const { 
    title = defaultTitle,
    description = defaultDescription || messageErrorDescription
} = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        prietdev | {title}
    </title>

    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    
    <meta name="description" content={description}>
</head>
<body class="bg-softClound dark:bg-charcoalBlack text-charcoalBlack dark:text-pureWhite">
    <Header />
    <main class="px-4">
        <slot />
    </main>
    <Footer />
</body>
</html>